body {
    background: rgb(29, 29, 29);
    color: white;
}

h1 {
    margin: 100px;
}

.add-section {
    margin: 0 auto;
    width: 66%;
    background: rgb(56, 56, 56);
    margin-bottom: 20px;
    height: 64px;
    padding-top: 10px;
    border-radius: 20px;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
}

.inputs input {
    width: 100px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    height: 30px;
    margin-top: 12px;
    
}
.button button {
    margin-top: 12px;
    margin-left: 20px;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 18px;
    background: #33b249;
    font-size: 14px;
}

.table table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 66%;
}

th, tr, td {
    border: solid thin white;
    padding: 12px;
    width: 100px;
}

table button {
    margin: 6px;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 18px;
}

#edit {
    background: #33b249;
}
